header {
    display: flex;
    flex-direction: column;
    align-items: center;
    h1 {
    font-family: "Indie Flower", cursive;
    color: #FA7855;
    }
    nav {
        width: 40%;
    }
    
}
ul {
    display: flex;
    list-style: none;
    justify-content: space-between; 
    li {
        font-family: "IBM Plex Mono", monospace;
        color: gray;
        &:hover {
            color: #FA7855;
            cursor: pointer;
        }
        &:first-of-type {
        color: #FA7855;
        }    
        .hide {
            display: none;
            position: absolute;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            padding: 12px 16px;
            z-index: 1;
        }
    .dropdown {
        position: relative;
        display: inline-block;
    }  

    }
}
.dropdown:hover .hide {
    display: block;
}


// PAULINA

.receta {
    margin-left: 10%;
    padding: 30px 0;
    width: 52%;
    border-top: 1px solid lightgray;
    display: flex;
    justify-content: space-between;
    .img-container {
        width: 45%;
        img {
            width: 100%;
            border-radius: 45px;
        }
    }
    .post-recetas-container {
        width: 50%;
    }
}

.post-recetas-container {
    font-family: "IBM Plex Mono", monospace;
    h4 {
        font-weight: bold;
        font-size: 1.2em;
        margin: 15px 0 0 15px;
    }
    p   {
        color: grey;
        font-size: 12px;
    }
    .leer-mas {
        width: 25%;
        text-align: center;
        font-weight: bold;
        padding: 6px 18px;
        border-radius: 9px;
        font-size: 11px;
        background-color: #fde2da;
        margin: 40px 0;
        &:hover {
            background-color: #fa7855;
            cursor: pointer;
        }
    }
}

.post-info {
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    color: gray;
}