body {
  margin: 0%;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
header h1 {
  font-family: "Indie Flower", cursive;
  color: #FA7855;
}
header .desktop-menu {
  width: 42%;
}
header .mobile-menu {
  display: none;
}

ul {
  display: flex;
  list-style: none;
  padding: 0px;
  justify-content: space-between;
}
ul li {
  font-family: "IBM Plex Mono", monospace;
  color: gray;
}
ul li:hover {
  color: #FA7855;
  cursor: pointer;
}
ul li .dropdown {
  position: relative;
  display: inline-block;
}
ul li:hover .hide {
  display: block;
}
ul li a {
  text-decoration: none;
  color: #FA7855;
}
ul li .hide {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
}

.heroe-img {
  display: none;
}

.carrousel {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.image-container {
  position: relative;
  width: 24%;
}
.image-container:hover {
  cursor: pointer;
}
.image-container:hover div {
  height: 22%;
}
.image-container img {
  width: 100%;
}
.image-container div {
  position: absolute;
  bottom: 0;
  z-index: 1;
  width: 100%;
  background-color: rgba(255, 93, 53, 0.7);
  overflow: hidden;
  height: 0%;
  transition: height 0.8s;
}
.image-container div p {
  margin: 10px 20px 0px 20px;
  color: white;
  font-family: "IBM Plex Mono", monospace;
  font-size: 14px;
}
.image-container div p:first-of-type {
  font-size: 10px;
}

@media (max-width: 790px) {
  .desktop-menu {
    display: none;
  }

  .heroe-img {
    display: block;
  }
  .heroe-img img {
    width: 100%;
  }

  .carrousel {
    display: none;
  }
<<<<<<< HEAD

  header .mobile-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 40px;
    background-color: #FA7855;
    border-radius: 30px;
    position: relative;
    color: white;
  }
  header .mobile-menu:hover .dropdown-mobile {
    display: block;
  }
}
.dropdown-mobile {
  display: none;
  width: 50%;
  position: absolute;
  top: 100%;
  background-color: #FA7855;
  min-width: 160px;
  padding: 12px 16px;
  z-index: 1;
  color: white;
}

=======
}
>>>>>>> dcedb350e0b29081658d7b0c83c7e7b0c8308b9c
.receta {
  margin-left: 10%;
  padding: 30px 0;
  width: 52%;
  border-top: 1px solid lightgray;
  display: flex;
  justify-content: space-between;
}
.receta .img-container {
  width: 45%;
}
.receta .img-container img {
  width: 100%;
  border-radius: 45px;
}
.receta .post-recetas-container {
  width: 50%;
}

.post-recetas-container {
  font-family: "IBM Plex Mono", monospace;
}
.post-recetas-container h4 {
  font-weight: bold;
  font-size: 1.2em;
  margin: 15px 0 0 15px;
}
.post-recetas-container p {
  color: grey;
  font-size: 12px;
}
.post-recetas-container .leer-mas {
  width: 25%;
  text-align: center;
  font-weight: bold;
  padding: 6px 18px;
  border-radius: 9px;
  font-size: 11px;
  background-color: #fde2da;
  margin: 40px 0;
}
.post-recetas-container .leer-mas:hover {
  background-color: #fa7855;
  cursor: pointer;
}

.post-info {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  color: gray;
<<<<<<< HEAD
=======
}

.imagenes {
  width: 100%;
  display: flex;
  justify-content: center;
}

.image2:hover {
  cursor: pointer;
}
.image2:hover p {
  background-color: #fc784f;
}

.imagenes img {
  width: 250px;
  height: auto;
  border-radius: 20%;
}

.tipos {
  width: 50%;
  height: 15%;
  display: flex;
  justify-content: center;
  margin: auto;
  line-height: 30px;
  border-radius: 20px;
  font-family: "IBM Plex Mono", monospace;
  font-size: 12px;
  background-color: white;
  position: relative;
  bottom: 90px;
}

footer {
  display: flex;
  justify-content: center;
}
footer .redes-sociales {
  width: 70%;
  font-family: "IBM Plex Mono", monospace;
  color: grey;
  font-size: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-bottom: 2px solid grey;
  margin-bottom: 10px;
}

a {
  color: grey;
  text-decoration: none;
}

.facebook {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.facebook:hover {
  cursor: pointer;
  color: #3b5998;
}
.facebook p {
  margin-left: 7px;
}

.twitter {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.twitter:hover {
  cursor: pointer;
  color: #55acee;
}
.twitter p {
  margin-left: 7px;
}

.google {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.google:hover {
  cursor: pointer;
  color: #dd4b39;
}
.google p {
  margin-left: 7px;
}

.linkedin {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.linkedin:hover {
  cursor: pointer;
  color: #007bb5;
}
.linkedin p {
  margin-left: 7px;
}

.instagram {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.instagram:hover {
  cursor: pointer;
  color: #8f6247;
}
.instagram p {
  margin-left: 7px;
}

.youtube {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.youtube:hover {
  cursor: pointer;
  color: #ff0000;
}
.youtube p {
  margin-left: 7px;
>>>>>>> dcedb350e0b29081658d7b0c83c7e7b0c8308b9c
}

/*# sourceMappingURL=styles.css.map */
